/*  your css code here. If applicable */
:root{
	background-color: rgb(135, 206, 235);
}

:first-child p1{
	background-color: black;
	text-color: rgb(255, 255, 255);
}

:nth-child(2) p{
}

:last-child > p2{
	text-color: red;
}